[submodule "interpreter/BigNumCore"]
	path = interpreter/BigNumCore
	url = https://github.com/Lamina-dev/Lammp
[submodule "theos_sdks"]
	path = theos_sdks
	url = https://github.com/AD-iOS/iphoneos-sdk17.5
